<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://apps.bdimg.com/libs/bootstrap/3.3.4/css/bootstrap.min.css">
    <script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="http://apps.bdimg.com/libs/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <title>auth</title>
    <style>
        * {
            box-sizing:border-box;
        }
        .img{
            height:75px;
            border: 1px solid #000;
            margin: 10px 5px 0 0;
        }
    </style>
</head>
<body>
<div class="container">
  <div class="jumbotron">
    <h1>人脸认证</h1>
      <a href="/g0">人脸识别</a>
  </div>
  <div class="row">
      <div class="col-sm-4">
     请选择10张自己的照片用于数据库认证！否则系统将拒绝认证。
    </div>
    <div class="col-sm-4">
        <form id = 'upload' action="/backend_preview" method="post" enctype="multipart/form-data" >
            上传10张认证照片：<input type="file" id="files" name="files" multiple  />
                    <output id="list"></output>
            <br>
            姓名：<input type="text"  name ='test' value="张三">
            <input type = 'submit' id='preview' value="预览" >
        </form>
        <script>
        function handleFileSelect(evt){
            var files = evt.target.files;
            for (var i=0 , f; f = files[i]; i++ ){
                if(!f.type.match('image.*')){
                    continue;
                }
                var reader = new FileReader();
                reader.onload = (function(theFile){
                    return function(e){
                        var span = document.createElement('span');
                        span.innerHTML = ['<img class = "img" src="',e.target.result,'" title="',escape(theFile.name),'"/>'].join('');
                        document.getElementById('list').insertBefore(span,null);
                    };
                })(f);
                reader.readAsDataURL(f);
            }
        }
        document.getElementById('files').addEventListener('change',handleFileSelect,false);
        </script>
        <div>
            {% for each in preview %}
            <img class = 'img' src="{{each}}">
            {% endfor %}
            <h1> {{name}} </h1>
            {%  if preview %}
                    <form id ='auth' action='backend_auth' method="post">
                    <input type = 'submit' id='auth_commit' value="提交认证" >
                    <script>
                        document.getElementById('auth_commit').addEventListener("click",showAuthStatus)
                        function showAuthStatus() {
                            document.getElementById('auth_out').innerHTML = "认证会持续数分钟，请稍等。<br>正在认证..."
                        }
                    </script>
                    </form>
            {%  endif %}
        </div>
    </div>
    <div class="col-sm-4" id="auth_out">
    {{auth_status}}
    </div>
  </div>
</div>
</body>
</html>